@use 'functions' as *;

:root {
  // colors
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  // typography
  --fs-base: clamp(rem(16), 0.8679577464788732rem + 0.5633802816901408vw, rem(22));
  --fs-xl: clamp(rem(42), 2.492957746478873rem + 0.5633802816901408vw, rem(48));
  --fs-l: clamp(rem(30), 1.7429577464788732rem + 0.5633802816901408vw, rem(36));
}